@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;

.footer {
    border-top: 4px solid v.$primary-color;
    width: 100vw;
    height: 3rem;
    backdrop-filter: blur(5px);
    background-color: v.$white-color;

    @include m.respond-to(md) {
        @include m.layout-flex();
        
        p{
            color: v.$dark-color;
        }
        
        .company {
            font-weight: 400;
            font-family: 'Fredoka', sans-serif;
        }
    }
}